/* Here I create the variables that I will use in order to not repeat myself  */
:root {
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --gray-light: #d6d6d6;
  --custom-primary: #920707;
  --paddingLeftBody: 20px;
  --paddingRightBody: 35px;
  --font-family: "Roboto", sans-serif;
}
body > #root > div {
  height: 100%;
  min-height: 100vh;
}
/* I use this to apply the follow properties to footer */
.footer-text {
  clear: both;
  color: var(--custom-primary)!important;
}

/* I use this to apply the font size to 20 for the footer footer */
.footer-text a {
  font-size: 20px;
  color: var(--custom-primary)!important;
  text-decoration: none;
}
/* I use this to apply the follow properties to a H1 that is inside of the header */
.navbar-custom h2 a{
  font-size: 36px;
  color: var(--custom-primary)!important;
}

/*This is to add an effect when the mouse is over the element */
.navbar-custom h2 a:hover {
  color: var(--white)!important;
  background-color: var(--custom-primary)!important;
}

/* I use this to apply the follow properties to the list items that is inside of the navbar that the parent is the header */
.navbar-custom ul li {
  display: inline-block;
  margin-left: 25px;
}

.linkClassNoBorder {
  color: var(--custom-primary)!important;
  padding: 5px;
}
/* This class is for all the links have the same format */
.linkClass {
  color: var(--custom-primary)!important;
  padding: 5px;
  text-decoration: none;
  border-bottom: 3px solid var(--custom-primary)!important;
  padding-left: 15px;
}

.footerlinkClass {
  color: var(--custom-primary)!important;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}
/* I use to change the border to unset  of the links when is the hover effect  */
.linkClass:hover {
  border: unset!important;
}
.linkClassActive{
  border: unset!important;
  font-weight: bold;
}
/* I use to change the color of the icons that I set on the Contact form  when the over */
.Icon:hover {
  color: var(--gray-dark)!important;
}

/* set the flex to 20% so it creates the feeling that is inline  I use this for Work , Contact Me and Resume sections */
.title {
  flex: 0 0 20%;
  align-items: flex-end;
  text-align: end;
  vertical-align: middle;
  font-size: 45px;
  border-right: 5px solid var(--custom-primary)!important;
  color: var(--custom-primary)!important;
  padding: 10px 15px 0 0;
  order: 1;
}

/* set the flex to 80% so it creates the feeling that is inline */
.content {
  flex: 0 0 80%;
  order: 2;
}

/* I use this to set the position to relative to the elemets of figure that are inside of a content class  */
.content figure {
  position: relative;
}

/* I use this class to set the width to 100% and add an opocity of 50% to the images that are inside of the figure */
.content figure img {
  width: 100%;
  opacity: 0.5;
}
/*I use this to add an effect when the mouse is over the image and what it does is to delete the opacity and I add a transition this is on the gallery work */
.content figure img:hover {
  opacity: 1;
  transition: all 1s;
}

/* this is to create the style of flex 80% to the Ul elements that are inside of the content class */
.content ul {
  flex: 0 0 80%;
  display: inline-flex;
  list-style-type: none;
  padding-top: 50px;
}
/* This code is to add some style to the li elements that are inside of the content class*/
.content ul li {
  display: inline-block;
  margin-left: 25px;
}

/* I use this to add a padding to the gallery of work */
.padding-gallery {
  padding: 15px var(--paddingRightBody) 15px var(--paddingLeftBody);
}
/* The gallery of work need to be display flex in order to have the elements inside the container and wrap so dont print that outside the screen and creates an scroll X*/
.gallery {
  display: flex;
  flex-wrap: wrap;
}
/* This is for the image below od the main on the Work section, in order to have the width of 50% and can fit only two */
.secondary_img {
  width: 50%;
}
/* This is to create a element like a tag on the images that are on the section of Work  the position is aboslute so it can be displayed inside the image  */
.padding-gallery figcaption {
  position: absolute;
  background-color: var(--gray-light)!important;
  color: var(--custom-primary);
  float: left;
  max-width: 400px;
  display: block;
  bottom: 15%;
  left: var(--paddingLeftBody)!important;
  font-size: 30px;
  padding: 10px;
}

/* This class is created for the first section where is a photo and a description , this class creates the effect of that elements are center and inline */

.contentAboutMe {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* With thi code I set the width of my photo*/
.imageContent img {
  height: 100%;
  object-fit: contain;
}

/* Thi is the container for my photo */
.imageContent {
  width: 400px;
  height: 400px;
}

/* This is for the text that is under "Hi, Im German Ramirez" I set a width of 800px */
.textContent {
  width: 800px;
}

/* The header2 have a a margin on the bottom of 10px and line height of 60px and the color to custom-primary variable this is where it the text "Hi , Im German Ramirez" */
.textContent h2 {
  font-size: 3rem;
  margin: 0 0 10px 0;
  line-height: 60px;
  color: var(--custom-primary)!important;
}
/* The image that is on the section of Resume needs to be center of the section */
.imgResume {
  text-align: center;
}

/* I added that the text below of the QR have a font size of 30px*/
.imgQR figcaption {
  font-size: 30px;
}

/* I added an effect that the text below of the QR change the color and font size   */
.imgQR:hover {
  font-size: 25px;
  color: var(--custom-primary)!important;
}

/* This is to set the width of the image to 50%  */

.img50width {
  width: 50% !important;
}

/* This class is used for the elements that need a width of 100%*/
.width100 {
  width: 100%;
}

/*This class I used to center any text that need to be centered */
.text-center {
  text-align: center;
}

/* set styles to make it so code wraps in <pre> instead of overflowing */
.preStyle {
  white-space: pre-line;
  overflow: auto;
  align-items: flex-start;
  font-size: 18px;
  padding: 15px var(--paddingRightBody) 15px var(--paddingLeftBody);
}